<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>ES6</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="" rel="stylesheet">
</head>
<body>
<p>es5</p>
<p>es6</p>
<p>慕课网</p>
<script type="text/javascript" src="/js/index.js"></script>
</body>
</html>